<% content_for :title, "Recipes" %>

<h1 class="title is-3">All Recipes</h1>
<div class="tabs">
  <ul>
    <li class="is-active"><a>New</a></li>
    <li><a>Hot</a></li>
    <li><a>Top</a></li>
  </ul>
</div>

<div class="fixed-grid has-1-cols">
  <div id="recipes" class="grid">
    <% @recipes.each do |recipe| %>
      <div class="cell">
        <%= link_to recipe do %> 
          <%= render "recipes/card", recipe: recipe%> 
        <% end %> 
      </div>
    <% end %>
  </div>
</div>

<!--<%= link_to "New recipe", new_recipe_path, class:"button is-primary is-dark" %> -->
