<footer id="footer" class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>CookBook</strong> by <a href="https://github.com/Magnus-Thomsen">Magnus Thomsen</a>.
        The source code is licensed
        <a href="https://opensource.org/license/mit">MIT</a>. The
        website content is licensed
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
          >CC BY NC SA 4.0</a
        >.
      </p>
    </div>
  </footer>